* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.page-width {
    width: 1170px;
    margin: 0 auto;
}

h1 {
    font-size: 55px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.header-container {
    width: 100%;
    height: 500px;
    background-image: url(images/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-content {
    width: 100%;
    height: 500px;
    position: absolute;
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.301));
}

.banner-content {}

.banner-content h1 {
    width: 40%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.banner-content p {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-element {
    width: 40%;
    height: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.content-element2 {
    width: 40%;
    height: 450px;
    margin: 10px;
    background-image: url(images/image\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-style: none;
}



.content-element3 {
    margin: 10px 40px 10px 10px;
}

.button {
    padding: 15px 30px;
    background-color: tomato;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    border: none;
    margin-top: 20px;
}

.help-container {
    width: 45%;
    text-align: center;
    margin: auto;
}

.help-element-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;

}

.help-element {
    width: 75%;
    display: flex;
    margin: 10px;

}

.help-box {
    width: 100%;
    display: flex;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: rgba(216, 112, 147, 0.24);
    padding: 20px;
}

.help-box-content {
    margin: 0 20px;
}